table thead {
	font-size: 0.8em;
}

table.dataTable {
	width: 960px;
	margin-bottom: 20px;
}

table.dataTable td {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ui-tabs .ui-tabs-panel {
	padding-bottom: 25px;
}